@model IEnumerable<WebAppProyectoDSW.Models.Empleado>

@{
    ViewData["Title"] = "ListarEmpleados";
}

<link rel="stylesheet" href="~/css/estilos.css" />


@Html.Partial("_VistaParcial")

<h4>Lista de empleados</h4>
<div class="mensaje"><a asp-action="RegistrarEmpleado" class="btn btn-dark" >Registrar nuevo empleado</a></div>
<div class="contenedor">

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Nombres
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Fecha de contrato
            </th>
            <th>
                Correo
            </th>
            <!--
            <th>
                Clave
            </th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apeEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecCon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.clave)
            </td>-->
            <td>
               
               @Html.ActionLink("Actualizar", "ActualizarEmpleado", new {  id=item.idEmpleado}, new{@class="btn btn-info"})
               @Html.ActionLink("Eliminar", "EliminarEmpleado", new {  id=item.idEmpleado}, new{@class="btn btn-danger"})
               <!--<a> @Html.ActionLink("Eliminar", "ListarEmpleado", new {  id=item.idEmpleado}, new{@class="btn btn-danger"}) <img src="~/img/delete.png"></a>-->
            </td>
        </tr>
}
    </tbody>
</table>
</div>